*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 50px;
    background-color: #010154;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 305px;

}

.logo{
    background-image: url("images/logio\ hai\ 2.jpg");
    background-size: cover;
    height: 45px;
    width: 300px;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1px solid white;
}
.add-first{
color: #cccccc;
font-size: 0.85rem;
margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: #03fcc6;
    height: 40px;
    width: 620px;
    border-radius: 4px;
}
.Search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.nav-signin{
    font-size: 1.5rem;
    
}

.search-input{
    width: 100%;
    font-size: 1rem ;
    border:none;

}
.search-icon{
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   color: #0f1111;
}
.nav-search:hover{
    border: 2px solid rgb(90, 179, 230);
}
.span{
    font: size 0.7rem; 
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #f3f3f3;
    align-items: center;
    justify-content: start;
}
.panel-ops p{
    display: inline;
    margin-left: 20px;
}
.panel-ops{
    margin-left: 5px;
    width: 1200px;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 1em;
    font-weight: 700;
}
.hero-section{
    background-image:url("images/hero_image4.png");
    background-size: cover;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: rgb(251, 251, 253);
    color:black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 80%;
    margin-bottom: 25px;

}
.hero-msg a{
    color: #010154;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    color: black;
}
.box{
   
    height: 425px;
    width: 23%;
    background-color: #f3f3f3;
    padding: 20px 0px 15px; 
    margin-top: 15px;

}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: black;
}
.shop-section2{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    color: black;
}
footer{
    container: fulid;
    justify-content: center;
    text-align: left;
    
}
#navFooter.navLeftFooter {
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #010154;
    min-width: 1000px;
    position: relative;
}
#navFooter .navAccessibility.navFooterColSpacerInner, #navFooter .navAccessibility.navFooterLinkCol {
    display: table-cell;
    padding: 0 10px;
}
#navFooter .navAccessibility.navFooterLinkCol {
    line-height: 120%;
}
.navFooterLinkCol {
    color: #f3f3f3;
    vertical-align: top;
}
* {
    box-sizing: border-box;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.a-ember body {
    font-family: "Amazon Ember",Arial,sans-serif;
}
body {
    color: #f3f3f3;
}
body {
    font-size: 14px;
    line-height: 20px;
    font-family: Arial,sans-serif;
}
:root {
    --animation-length: 12s;
    --animation-delay: 1s;
    --animation-timing: 0.5;
}
:root {
    --animation-length: 12s;
    --animation-delay: 1s;
    --animation-timing: 0.5;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}
#navFooter.navLeftFooter .navFooterBackToTop .navFooterBackToTopText {
    color: #f3f3f3;
}
#navFooter .navFooterBackToTop span {
    container: desktop;
    display: block;
    text-align: center;
    color: #f3f3f3;
    padding: 15px 0;
    line-height: 19px;
    font-size: 13px;
}
#navFooter a, #navFooter span {
    font-family: inherit;
    white-space: normal;
    color: #f3f3f3;
    
}
.product{
    height: 300px;
    background-color: #0f1111;
    background-image: url(images/charger.jpg);
    background-repeat: no-repeat;
    background-size: contain;
   display: flex;
   color: wheat;
   align-items: center;
   justify-content: center;
     
}
.mb-3{
    color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

footer {
    background-color:#15013d;
    color: #fff;
    padding: 40px 0;
    
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    padding: 0 20px;
}

h3{
    font-size: 18px;
    margin-bottom: flex;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

#search-form {
    margin-top: flex;
    width: 800px;
    
}

#search-input {
    padding: 10px;
    width: 700px;
    border: none;
    border-radius: 3px;
    margin: flex;
    display: inline;
}

button {
    padding: 10px;
    background-color: #00a1b3;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    
}

button:hover {
    background-color: #8794f8;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
  }